
.ipynb_checkpoints/fishGraphing-checkpoint.ipynb
.ipynb_checkpoints/fishSorting-checkpoint.ipynb
.ipynb_checkpoints/fishTracking-checkpoint.ipynb
.ipynb_checkpoints/fishTrackingGraphs-checkpoint.ipynb
fish.pkl
sortedFish.pik
sortedFish.pik
.ipynb_checkpoints/README-checkpoint.md
__pycache__/tracktor_revised.cpython-37.pyc
.ipynb_checkpoints/fishOverlapManualCheck-checkpoint.ipynb
frames/
