
.ipynb_checkpoints/fishGraphing-checkpoint.ipynb
.ipynb_checkpoints/fishSorting-checkpoint.ipynb
.ipynb_checkpoints/fishTracking-checkpoint.ipynb
.ipynb_checkpoints/fishTrackingGraphs-checkpoint.ipynb
fish.pkl
sortedFish.pik
sortedFish.pik
.ipynb_checkpoints/README-checkpoint.md
__pycache__/tracktor_revised.cpython-37.pyc
.ipynb_checkpoints/fishOverlapManualCheck-checkpoint.ipynb
frames/
.ipynb_checkpoints/overlapCheck-checkpoint.txt
report/fall 2020/report.aux
*.aux
*.log
*.gz
*.xml
*.bbl
*.bcf
*.lof
*.lot
*.log
*.gz
*.aux
report/spring 2021/.report.tex.swp
*.toc
